.mmb-header {
  background-color: #ff841d;
  position: relative;
  height: 1.06666667rem;
}
.mmb-header .logo,
.mmb-header .app {
  width: 0.86666667rem;
  height: 0.82666667rem;
  position: absolute;
  top: 0;
}
.mmb-header .logo img,
.mmb-header .app img {
  width: 0.86666667rem;
  height: 0.8rem;
}
.mmb-header .logo {
  width: 0.53333333rem;
  height: 0.53333333rem;
  left: 0;
  margin-left: 0.13333333rem;
  transform: translate(-0.26666667rem, -0.13333333rem);
}
.mmb-header .logo img {
  width: 0.53333333rem;
  height: 0.53333333rem;
}
.mmb-header .app {
  right: 0;
  margin-right: 0.46666667rem;
  top: -0.10666667rem;
}
.mmb-header h3 {
  text-align: center;
  margin: 0 1.06666667rem;
  line-height: 1.06666667rem;
  color: #fff;
  font-size: 0.53333333rem;
}
.gs_select {
  background-color: #fff;
  margin-top: 10px;
  border-bottom: 0.01333333rem solid #ddd;
}
.gs_select .select_Box {
  height: 1.02666667rem;
  text-align: center;
  line-height: 0.93333333rem;
  font-size: 0.4rem;
  position: relative;
}
.gs_select .select_Box .chuxian {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.gs_select .select_Box .chuxian1 {
  position: absolute;
  width: 10rem;
  background-color: #fff;
  z-index: 998;
  right: 0.01333333rem;
}
.gs_select .select_Box .hidden1 {
  border-top: 1px solid #dadada;
  padding-left: 1.06666667rem;
  text-align: left;
}
.gs_select .select_Box .hidden2 {
  border-top: 0.01333333rem solid #dadada;
  padding-right: 3.6rem;
}
.gs_select .mingcheng,
.gs_select .quyu,
.gs_select .price {
  float: left;
  width: 33.3%;
}
.gs_select .mingcheng img,
.gs_select .quyu img,
.gs_select .price img {
  width: 0.4rem;
  height: 0.4rem;
}
.duoimg {
  padding: 0.13333333rem;
  width: 4.66666667rem;
  float: left;
  margin-left: 0.2rem;
}
.duoimg img {
  height: 4.26666667rem;
}
.duoimg .title {
  padding: 0.13333333rem;
  font-size: 0.33333333rem;
  height: 1.33333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.duoimg .content {
  padding: 0.13333333rem;
  font-size: 0.36rem;
}
.duoimg .content span {
  width: 1.6rem;
  height: 0.72rem;
  line-height: 0.72rem;
  color: #ff9501;
}
.duoimg .content button {
  width: 1.6rem;
  height: 0.72rem;
  border: none;
  background-color: #ff9501;
  border-radius: 0.13333333rem;
  color: #fff;
}
.hidden {
  display: none;
}
