.mmb-header {
  position: relative;
  height: 1.06666667rem;
}
.mmb-header .logo,
.mmb-header .app {
  width: 0.68rem;
  height: 0.82666667rem;
  position: absolute;
  top: 0;
}
.mmb-header .logo img,
.mmb-header .app img {
  width: 0.86666667rem;
  height: 0.8rem;
}
.mmb-header .logo {
  left: 0;
  background-color: #ff841d;
  top: 0.10666667rem;
  margin-left: 0.13333333rem;
}
.mmb-header .app {
  right: 0;
  margin-right: 0.46666667rem;
  top: -0.10666667rem;
}
.mmb-header h3 {
  text-align: center;
  margin: 0 1.06666667rem;
  line-height: 1.06666667rem;
  color: #fff;
  font-size: 0.53333333rem;
}
.product {
  background-color: #fff;
}
.product li {
  height: 3.44rem;
  border: 0.01333333rem solid #ccc;
}
.product li .item {
  height: 100%;
  position: relative;
  display: block;
}
.product li .item .proleft {
  width: 3.06666667rem;
  height: 100%;
}
.product li .item .proleft img {
  width: 2.66666667rem;
  height: 2.66666667rem;
  display: block;
  margin: 0.38666667rem auto;
}
.product li .item .proright {
  height: 100%;
  overflow: hidden;
  font-size: 0.32rem;
  padding: 0.4rem;
  position: relative;
}
.product li .item .proright .tit {
  color: #333;
}
.product li .item .proright span {
  color: #ff841d;
}
.product li .item .proright .other {
  color: #ccc;
  position: absolute;
  bottom: 0.4rem;
}
.product li .item .trash {
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  color: #ccc;
}
.product .moreInfo {
  display: block;
  margin: 0.26666667rem;
}
.selectBtn {
  text-align: center;
}
.selectBtn a {
  background: #ccc;
  margin: 0 1.33333333rem;
  height: 0.8rem;
  width: 2.21333333rem;
  border: 0.01333333rem solid #ccc;
  font-size: 0.30666667rem;
  padding: 0.2rem;
  background-color: #ccc;
  border-radius: 0.06666667rem;
}
.selectBtn select {
  width: 1.6rem;
  height: 0.8rem;
  padding-top: 0.02666667rem;
  padding-left: 0.26666667rem;
  font-size: 0.33333333rem;
  margin-top: 0.10666667rem;
}
